html, body {
    min-width: 300px;
    font-family: "Open Sans Light", sans-serif;
    white-space: nowrap;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-space {
    justify-content: space-between;
    align-items: center;
}

.padded {
    padding: 16px;
}

.title {
    margin-left: 14px;
    font-size: 14px;
}

.bottom {
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

.warnings-list {
    padding: 0;
    list-style: none;
}

.warnings-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.warnings-list li:last-child {
    margin-bottom: 0px;
}

.warnings-list li span {
    margin-right: 5px;
}

.hidden {
    display: none;
}

.toggle-options {
    height: 24px;
    width: 24px;
    background: url(../icons/settings-24-white.png);
}

.toggle-options:hover {
    background: url(../icons/settings-24-black.png);
}

.clickable {
    cursor: pointer;
}
